/* Body */
body {
    background-color: #ffff;
}

/* Main Section */

main {
    min-height: 640px;
    padding: 10px 30px;
    margin: 0px 100px 30px;
}

.title {
    display: inline-block;
    width: 80%;
    margin: 0;
}

.createdAt {
    display: inline-block;
    width: 19%;
    margin: auto;
    text-align: right;
}

.content {
    white-space: pre-wrap;
}

.horizontalRule {
    margin: 5px 0px 10px;
}

.endSeprator {
    margin: 30px auto;
    border: 10px dotted rgb(66, 66, 66);
    border-top: 0px;
    width: 10%;
}

.deleteBtn {
    float: right;
}

/* Compose Section */
#titleInput {
    margin: 20px 0px 10px;
    width: 40%;
}

#contentInput {
    margin: 10px 0px;
    display: block;
    width: 80%;
}

/* Footer */

footer {
    padding: 10px 25px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer form p {
    margin: 3px;
    float: right;
}

/* Sign In */

.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}

/* Sign Up */

.signup-form {
    width: 400px;
    margin: 30px auto;
}