<%- include('./Partials/header'); -%>

<h2>About</h2>

<hr />

<h5><i>A Blog Website made using express and MongoDB</i></h5>
<p>
    A simple blogging website template made using <strong>Express</strong>.Js and <strong>mongoDB</strong> to store
    data. An user can sign in to create and delete posts which can be viewed by other users. Posts can neither be
    created nor be destroyed without user credentials.
</p>
<br />
<h4>Features</h4>
<hr />
<ul>
    <li>Addition and removal of blogs</li>
    <li>Store Blogs permanently in a database</li>
    <li>Sign In/Sign Up</li>
    <li>User Authentication</li>
</ul>
<br />
<h4>Tech Used</h4>
<hr />
<ul>
    <li>Express</li>
    <li>MongoDB</li>
    <li>jQuery</li>
    <li>EJS</li>
    <li>Mongoose</li>
    <li>Ajax</li>
</ul>
<br />

<%- include('./Partials/footer'); -%>
